# Ignore binaries.
bin

# Ignore Drupal-managed dependencies.
docroot
src/sites/*/settings.local.php

# Ignore Composer-managed dependencies.
vendor/

# Ignore lock file.
composer.lock

# System.
.idea